<!--header-->
<app-header></app-header>
<!--header-->



<div class="h-screen bg-cover bg-center relative" style="background-image: url('../assets/img/patio.jpg');">
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <div class="container mx-auto flex items-center h-full relative z-10">
    <div class="text-white text-left ml-14">
      <h1 class="text-4xl lg:text-8xl font-bold mb-4">Bienvenido al Colegio XYZ</h1>
      <p class="text-lg lg:text-2xl">Educación de calidad para un futuro brillante</p>
      <a href="#" class="ml-2 mt-4 border text-xl text-center md:text-base rounded-full inline-block border-white px-2 py-2 justify-self-end hover:bg-white hover:text-black duration-300">Solicitar Información</a>
    </div>
  </div>
</div>

<div class="text-center mt-14">
<h2 class="text-4xl font-semibold center  text-black/60">Oferta Educativa</h2>
</div>
<section class="w-full max-w-[1600px] grid lg:grid-cols-12 auto-rows-[25rem] gap-4 mx-auto p-6 md:p-12 lg:p-20">

  <article class="col-span-4 relative rounded-xl backdrop-blur-md border border-black/10 shadow-inner shadow-white/10 overflow-hidden group">
    <div class="absolute z-10 bottom-0 top-0 w-full h-full
    bg-gradient-to-b from-transparent from-40% via-[#151836]/50 to-[#151836]/80"></div>
    <div class="absolute left-0 top-0 bottom-0 w-full
    h-full group-hover:scale-110 transition-scale duration-1000
    ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat -z-10"
    style="background-image: url('../assets/img/preescolar.jpg');"></div>
    <div class="relative flex flex-col gap-1 p-6 text-xl z-20 select-none justify-end h-full">
      <h2 class="text-3xl font-semibold text-balance text-white mb-4">Preescolar</h2>
    </div>
  </article>
  <article class="col-span-4 relative rounded-xl backdrop-blur-md border border-black/10 shadow-inner shadow-white/10 overflow-hidden group">
    <div class="absolute z-10 bottom-0 top-0 w-full h-full
    bg-gradient-to-b from-transparent from-40% via-[#151836]/50 to-[#151836]/80"></div>
    <div class="absolute left-0 top-0 bottom-0 w-full
    h-full group-hover:scale-110 transition-scale duration-1000
    ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat -z-10"
    style="background-image: url('../assets/img/primaria.jpg');"></div>
    <div class="relative flex flex-col gap-1 p-6 text-xl z-20 select-none justify-end h-full">
      <h2 class="text-3xl font-semibold text-balance text-white mb-4">Primaria</h2>
    </div>
  </article>

  <article class="col-span-4 relative rounded-xl backdrop-blur-md border border-black/10 shadow-inner shadow-white/10 overflow-hidden group">
    <div class="absolute z-10 bottom-0 top-0 w-full h-full
    bg-gradient-to-b from-transparent from-40% via-[#151836]/50 to-[#151836]/80"></div>
    <div class="absolute left-0 top-0 bottom-0 w-full
    h-full group-hover:scale-110 transition-scale duration-1000
    ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat -z-10"
    style="background-image: url('../assets/img/secundaria.jpg');"></div>
    <div class="relative flex flex-col gap-1 p-6 text-xl z-20 select-none justify-end h-full">
      <h2 class="text-3xl font-semibold text-balance text-white mb-4">Secundaria</h2>
    </div>
  </article>
  </section>


<div class="text-center">
  <h2 class="text-4xl font-semibold center text-black/60">Actividades Extracurriculares </h2>
</div>
<section class="w-full max-w-[1600px] grid lg:grid-cols-10 auto-rows-[30rem] gap-4 mx-auto p-6 md:p-12 lg:p-20">
  <article class="col-span-10 md:col-span-4 relative rounded-xl backdrop-blur-md border border-black/10 shadow-inner shadow-white/10 overflow-hidden group">
    <div class="absolute z-10 bottom-0 top-0 w-full h-full
    bg-gradient-to-b from-transparent from-40% via-[#151836]/50 to-[#151836]/80"></div>
    <div class="absolute left-0 top-0 bottom-0 w-full
    h-full group-hover:scale-110 transition-scale duration-1000
    ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat -z-10"
    style="background-image: url('../assets/img/arte.jpg');"></div>
    <div class="relative flex flex-col gap-1 p-6 text-xl z-20 select-none justify-end h-full">
      <h2 class="text-3xl font-semibold text-balance text-white mb-4">Arte</h2>
      <h3 class="text-3xl font-semibold text-balance text-sky-200/80 mb-4">Taller de Arte</h3>
      <p class="max-w-xl  text-white mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ex voluptates illum sunt quo tempore quidem optio, ea tempora corporis, ab ipsam unde perspiciatis cum!</p>
    </div>
  </article>
  <article class="col-span-10 md:col-span-6 relative rounded-xl backdrop-blur-md border border-black/10 shadow-inner shadow-white/10 overflow-hidden group">
    <div class="absolute z-10 bottom-0 top-0 w-full h-full
    bg-gradient-to-b from-transparent from-40% via-[#151836]/50 to-[#151836]/80"></div>
    <div class="absolute left-0 top-0 bottom-0 w-full
    h-full group-hover:scale-110 transition-scale duration-1000
    ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat -z-10"
    style="background-image: url('../assets/img/cocina.jpg');"></div>
    <div class="relative flex flex-col gap-1 p-6 text-xl z-20 select-none justify-end h-full">
      <h2 class="text-3xl font-semibold text-balance text-white mb-4">Cocina</h2>
      <h3 class="text-3xl font-semibold text-balance text-sky-200/80 mb-4">Taller de Cocina</h3>
      <p class="max-w-xl  text-white mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ex voluptates illum sunt quo tempore quidem optio, ea tempora corporis, ab ipsam unde perspiciatis cum!</p>
    </div>
  </article>

  <article class="col-span-10 md:col-span-6 relative rounded-xl backdrop-blur-md border border-black/10 shadow-inner shadow-white/10 overflow-hidden group">
    <div class="absolute z-10 bottom-0 top-0 w-full h-full
    bg-gradient-to-b from-transparent from-40% via-[#151836]/50 to-[#151836]/80"></div>
    <div class="absolute left-0 top-0 bottom-0 w-full
    h-full group-hover:scale-110 transition-scale duration-1000
    ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat -z-10"
    style="background-image: url('../assets/img/danza.jpg');"></div>
    <div class="relative flex flex-col gap-1 p-6 text-xl z-20 select-none justify-end h-full">
      <h2 class="text-3xl font-semibold text-balance text-white mb-4">Danza</h2>
      <h3 class="text-3xl font-semibold text-balance text-sky-200/80 mb-4">Clases de Baile</h3>
      <p class="max-w-xl  text-white mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ex voluptates illum sunt quo tempore quidem optio, ea tempora corporis, ab ipsam unde perspiciatis cum!</p>
    </div>
  </article>
  <article class="col-span-10 md:col-span-4 relative rounded-xl backdrop-blur-md border border-black/10 shadow-inner shadow-white/10 overflow-hidden group">
    <div class="absolute z-10 bottom-0 top-0 w-full h-full
    bg-gradient-to-b from-transparent from-40% via-[#151836]/50 to-[#151836]/80"></div>
    <div class="absolute left-0 top-0 bottom-0 w-full
    h-full group-hover:scale-110 transition-scale duration-1000
    ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat -z-10"
    style="background-image: url('../assets/img/deporte.png');"></div>
    <div class="relative flex flex-col gap-1 p-6 text-xl z-20 select-none justify-end h-full">
      <h2 class="text-3xl font-semibold text-balance text-white mb-4">Deportes</h2>
      <h3 class="text-3xl font-semibold text-balance text-sky-200/80 mb-4">Practicas de Deportes</h3>
      <p class="max-w-xl  text-white mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ex voluptates illum sunt quo tempore quidem optio, ea tempora corporis, ab ipsam unde perspiciatis cum!</p>
    </div>
  </article>

  <article class="col-span-10 md:col-span-4 relative rounded-xl backdrop-blur-md border border-black/10 shadow-inner shadow-white/10 overflow-hidden group">
    <div class="absolute z-10 bottom-0 top-0 w-full h-full
    bg-gradient-to-b from-transparent from-40% via-[#151836]/50 to-[#151836]/80"></div>
    <div class="absolute left-0 top-0 bottom-0 w-full
    h-full group-hover:scale-110 transition-scale duration-1000
    ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat -z-10"
    style="background-image: url('../assets/img/musica.jpg');"></div>
    <div class="relative flex flex-col gap-1 p-6 text-xl z-20 select-none justify-end h-full">
      <h2 class="text-3xl font-semibold text-balance text-white mb-4">Música</h2>
      <h3 class="text-3xl font-semibold text-balance text-sky-200/80 mb-4">Clases de Música</h3>
      <p class="max-w-xl  text-white mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ex voluptates illum sunt quo tempore quidem optio, ea tempora corporis, ab ipsam unde perspiciatis cum!</p>
    </div>
  </article>
  <article class="col-span-10 md:col-span-6 relative rounded-xl backdrop-blur-md border border-black/10 shadow-inner shadow-white/10 overflow-hidden group">
    <div class="absolute z-10 bottom-0 top-0 w-full h-full
    bg-gradient-to-b from-transparent from-40% via-[#151836]/50 to-[#151836]/80"></div>
    <div class="absolute left-0 top-0 bottom-0 w-full
    h-full group-hover:scale-110 transition-scale duration-1000
    ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat -z-10"
    style="background-image: url('../assets/img/teatro.jpg');"></div>
    <div class="relative flex flex-col gap-1 p-6 text-xl z-20 select-none justify-end h-full">
      <h2 class="text-3xl font-semibold text-balance text-white mb-4">Teatro</h2>
      <h3 class="text-3xl font-semibold text-balance text-sky-200/80 mb-4">Taller de Artes Escénicas</h3>
      <p class="max-w-xl  text-white mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ex voluptates illum sunt quo tempore quidem optio, ea tempora corporis, ab ipsam unde perspiciatis cum!</p>
    </div>
  </article>
</section>

<!--Niveles-->
<section class="bg-white py-16">
  <div class="container mx-auto flex flex-col lg:flex-row items-center justify-center">
    <div class="lg:w-1/2 pr-5">
      <h2 class="text-3xl lg:text-6xl font-semibold mb-6  text-black/60">Nuestro Objetivo Primordial</h2>
      <p class="text-gray-700 text-xl leading-relaxed text-pretty">
        El objetivo primordial del Colegio XYZ es proporcionar a los estudiantes una educación integral que abarque tanto el desarrollo
        académico como el personal. Esto implica impartir conocimientos sólidos en diversas disciplinas, fomentar habilidades sociales
        y éticas, y promover valores como la responsabilidad y la tolerancia. Además, el Colegio XYZ buscan preparar a los estudiantes
        para la vida cotidiana y profesional, estimulando la creatividad, el pensamiento crítico y la participación activa de los padres.
      </p>
      <p class="text-gray-700 text-xl leading-relaxed text-pretty mt-4">
        En resumen, el propósito central del Colegio XYZ es crear un entorno educativo seguro y enriquecedor que forme individuos equilibrados,
        preparados para enfrentar los desafíos de la sociedad.
      </p>
    </div>
    <div class="lg:w-1/2 lg:mr-8 mb-4 lg:mb-0">
      <img src="../assets/img/estudiantes.jpg" alt="Imagen de Sobre Nosotros" class="w-full h-auto rounded-xl">
    </div>
  </div>
</section>
<section class="bg-white py-16">
  <div class="container mx-auto flex flex-col lg:flex-row items-center justify-center">

    <div class="lg:w-1/2 lg:mr-8 mb-4 lg:mb-0">
      <img src="../assets/img/maestros.jpg" alt="Imagen de Sobre Nosotros" class="w-full h-auto rounded-xl">
    </div>

    <div class="lg:w-1/2">
      <h2 class="text-3xl lg:text-6xl font-semibold mb-6  text-black/60">Sobre Nosotros</h2>
      <p class="text-gray-700 text-xl leading-relaxed text-pretty">
        Bienvenidos al Colegio XYZ, donde nos dedicamos a proporcionar una educación de calidad que inspira el aprendizaje y promueve el desarrollo integral de nuestros estudiantes.
      </p>
      <p class="text-gray-700 text-xl leading-relaxed text-pretty mt-4">
        Nuestro compromiso es cultivar un ambiente educativo positivo que fomente la curiosidad, la creatividad y el respeto mutuo. Con profesionales dedicados y programas educativos innovadores, estamos aquí para ayudar a nuestros estudiantes a alcanzar su máximo potencial.
      </p>
    </div>
  </div>
</section>

<div class="text-center">
  <h2 class="text-4xl font-semibold center text-black/60">Alumnos Egresados</h2>
</div>
<section class="w-full max-w-[1600px] grid lg:grid-cols-12 auto-rows-[25rem] gap-4 mx-auto p-6 md:p-12 lg:p-20">
  <article class="col-span-10 md:col-span-4 relative rounded-xl backdrop-blur-md border border-black/10 shadow-inner shadow-white/10 overflow-hidden group">
    <div class="absolute z-10 bottom-0 top-0 w-full h-full
    bg-gradient-to-b from-transparent from-40% via-[#151836]/50 to-[#151836]/80"></div>
    <div class="absolute left-0 top-0 bottom-0 w-full
    h-full group-hover:scale-110 transition-scale duration-1000
    ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat -z-10"
    style="background-image: url('../assets/img/doctora.jpg');"></div>
    <div class="relative flex flex-col gap-1 p-6 text-xl z-20 select-none justify-end h-full">
      <h2 class="text-3xl font-semibold text-balance text-white mb-1">Melissa</h2>
      <h3 class="text-2xl font-semibold text-balance text-sky-200/80 mb-1">Doctora</h3>
      <p class="max-w-xl  text-white mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, modi.</p>
    </div>
  </article>
  <article class="col-span-10 md:col-span-4 relative rounded-xl backdrop-blur-md border border-black/10 shadow-inner shadow-white/10 overflow-hidden group">
    <div class="absolute z-10 bottom-0 top-0 w-full h-full
    bg-gradient-to-b from-transparent from-40% via-[#151836]/50 to-[#151836]/80"></div>
    <div class="absolute left-0 top-0 bottom-0 w-full
    h-full group-hover:scale-110 transition-scale duration-1000
    ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat -z-10"
    style="background-image: url('../assets/img/abogado.jpg');"></div>
    <div class="relative flex flex-col gap-1 p-6 text-xl z-20 select-none justify-end h-full">
      <h2 class="text-3xl font-semibold text-balance text-white mb-1">John</h2>
      <h3 class="text-2xl font-semibold text-balance text-sky-200/80 mb-1">Abogado</h3>
      <p class="max-w-xl  text-white mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, modi.</p>
    </div>
  </article>
  <article class="col-span-10 md:col-span-4 relative rounded-xl backdrop-blur-md border border-black/10 shadow-inner shadow-white/10 overflow-hidden group">
    <div class="absolute z-10 bottom-0 top-0 w-full h-full
    bg-gradient-to-b from-transparent from-40% via-[#151836]/50 to-[#151836]/80"></div>
    <div class="absolute left-0 top-0 bottom-0 w-full
    h-full group-hover:scale-110 transition-scale duration-1000
    ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat -z-10"
    style="background-image: url('../assets/img/programadora.jpg');"></div>
    <div class="relative flex flex-col gap-1 p-6 text-xl z-20 select-none justify-end h-full">
      <h2 class="text-3xl font-semibold text-balance text-white mb-1">Jane</h2>
      <h3 class="text-2xl font-semibold text-balance text-sky-200/80 mb-1">Programadora</h3>
      <p class="max-w-xl  text-white mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, modi.</p>
    </div>
  </article>
</section>


<div class="text-center">
  <h2 class="text-4xl font-semibold center text-black/60">Descripción general del proceso de admisión</h2>
</div>
<div class="container mx-auto p-8">


  <div class="mb-8">
      <h3 class="text-xl font-semibold mb-4">1. Application Form</h3>
      <p class="text-gray-700">Complete the online application form with accurate information. Ensure all required fields are filled out.</p>
  </div>

  <div class="mb-8">
      <h3 class="text-xl font-semibold mb-4">2. Document Submission</h3>
      <p class="text-gray-700">Submit the necessary documents, including transcripts, letters of recommendation, and any other required materials. Follow the guidelines for submission provided.</p>
  </div>

  <div class="mb-8">
      <h3 class="text-xl font-semibold mb-4">3. Admission Criteria</h3>
      <p class="text-gray-700">Fulfill the admission criteria, including academic requirements and any specified entrance exams. Be aware of any additional considerations during the evaluation process.</p>
  </div>

  <div class="mb-8">
      <h3 class="text-xl font-semibold mb-4">4. Tuition and Fees</h3>
      <p class="text-gray-700">Review the tuition and fees structure. Explore scholarship opportunities or inquire about financial aid if needed.</p>
  </div>

  <div class="mb-8">
      <h3 class="text-xl font-semibold mb-4">5. Virtual Tour and Facilities</h3>
      <p class="text-gray-700">Take a virtual tour of the school campus. Explore classrooms, sports areas, and other facilities to get a sense of the school environment.</p>
  </div>

  <div class="mb-8">
      <h3 class="text-xl font-semibold mb-4">6. Contact Us</h3>
      <p class="text-gray-700">If you have any questions or need assistance, feel free to contact our admissions office. We are here to help you throughout the process.</p>
  </div>

</div>



<app-footer></app-footer>
